h1{
    background-color: bisque;
}


.classp1 > nav{
    background-color: aqua;
}

.classp2 > nav{
    background-color: rgb(178, 231, 173);
}

a{
    display: inline-block;
    
    width: 20vw;
    max-width: 150px;
    background-color: lightcoral;
    margin: 2px;
    border-radius: 2px;
}