body{
    margin: 1em;
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 14px;
}

.uno {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.dos{
    display: flex;
    justify-content: center;
}

.c1{
width: 25vh;
height: 25vh;
background: pink;
margin-right: 10px;
align-items: center;
text-align: center;
border:solid red 1px;
justify-content: center;
display: flex;
}